In [ ]:
#TUPLE
tpul = ('sam','david','obi','faisal','salim','mukky')
print(tpul)
tpul2 = tpul[0:4]
print(tpul2)
lis = list(tpul)
lis.append('samuel')
lis.remove('sam')
tpul = tuple(lis)
print(tpul)
name, surname, *other = tpul
print(name,surname,other)
#looping of a tuple
tpul3 =tuple(range(50))
for i in tpul3:
    if i % 2 == 1:
        print(i,end = ' ')

('sam', 'david', 'obi', 'faisal', 'salim', 'mukky')
('sam', 'david', 'obi', 'faisal')
('david', 'obi', 'faisal', 'salim', 'mukky', 'samuel')
david obi ['faisal', 'salim', 'mukky', 'samuel']
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 50

In [ ]:
#SET
sett = {'house','car','plane'}
sett.add('cloth')
print(sett)
sett2 = {'benz','toyota'}
sett.update(sett2)
print(sett)
sett.remove('house')
sett2.discard('toyota')
print(sett,sett2)
sett.pop()
print(sett)
sett.clear
print(sett)
#JOINING A SET
set1 = {2,5,6,3,35,}
set2 = {3,5,6,3,2,5,6,}
set3 = set1 | set2
set4 = set3.union(set2)
set5 = set1.intersect(set2)

{'plane', 'cloth', 'car', 'house'}
{'plane', 'house', 'benz', 'cloth', 'toyota', 'car'}
{'plane', 'benz', 'cloth', 'toyota', 'car'} {'benz'}
{'benz', 'cloth', 'toyota', 'car'}
{'benz', 'cloth', 'toyota', 'car'}

In [71]:
dickt = dict(name ='faisal',surname = 'ibrahim',hobby = 'tech and problem solving',age= 34, dream = 'becoming billonaire')
dickt2 = {
    'school': 'Abu zaria',
    'state': 'kaduna',
    'country': 'Nigeria'
    }
print(dickt)
print(dickt2)
x =dickt['name']
print(x)
y = dickt2.get('school')
print(y)
dickt['netwoth'] = 0.00
print(dickt)
dickt.update({'netwoth':20000000000})
print(dickt)
dict3 =dict(car = 'electric', model = 'tesla',color ='white')
dict3.pop('car')
print(dict3)
dict4 = dict(dict3)
dict5 = dict4.copy()
print(dict4)
print(dict5)
# nested dictionar
nested = {
    'child1':{
        'name': 'faisal',
        'year': 2000
    },
    'child2': {
        'name': 'fatima',
        'yaer': 2002
    },
    'child3':{
        'name':'maryam',
        'year': '2004'
    }
}
print(nested['child1']['name'])
for key , value in nested.items():
    print(key, " :", value)
for inner_key,inner_value in nested.items():
    print(inner_key, inner_value)

{'name': 'faisal', 'surname': 'ibrahim', 'hobby': 'tech and problem solving', 'age': 34, 'dream': 'becoming billonaire'}
{'school': 'Abu zaria', 'state': 'kaduna', 'country': 'Nigeria'}
faisal
Abu zaria
{'name': 'faisal', 'surname': 'ibrahim', 'hobby': 'tech and problem solving', 'age': 34, 'dream': 'becoming billonaire', 'netwoth': 0.0}
{'name': 'faisal', 'surname': 'ibrahim', 'hobby': 'tech and problem solving', 'age': 34, 'dream': 'becoming billonaire', 'netwoth': 20000000000}
{'model': 'tesla', 'color': 'white'}
{'model': 'tesla', 'color': 'white'}
{'model': 'tesla', 'color': 'white'}
faisal
child1  : {'name': 'faisal', 'year': 2000}
child2  : {'name': 'fatima', 'yaer': 2002}
child3  : {'name': 'maryam', 'year': '2004'}
child1 {'name': 'faisal', 'year': 2000}
child2 {'name': 'fatima', 'yaer': 2002}
child3 {'name': 'maryam', 'year': '2004'}

In [ ]:
# IF...ELSE STATEMENT
a,b,c = 43,35,53
print(f'{a} is greater than {b}') if a > b else print(f'{a} is less than {b}')
if b < c : print(f'{b} is less than {c}')
print('correct') if a<b else print('wrong') if a > b else print('invalid')
if b < c : print('write')
# WHILE FOR LOOP
i = 2
while i < 10 :
    print(i)
    i += 1
# fuction
def func(fname,lname):
    print(fname,lname + ' is our student')

func('faisal','ibrahim')
func('fatima','ibrahim')

43 is greater than 35
35 is less than 53
wrong
write
2
3
4
5
6
7
8
9
faisal ibrahim is our student
fatima ibrahim is our student