In [1]:
import numpy as np
import pandas as pd

In [24]:
df = pd.read_csv('hotel_booking_data.csv')

In [27]:
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.00,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.00,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.00,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Transient,96.14,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Transient,225.43,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Transient,157.71,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Transient,104.40,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Transient,151.20,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482

In [28]:
df.shape[0]

119390

In [29]:
df.isnull().sum()

hotel                                 0
is_canceled                           0
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              4
babies                                0
meal                                  0
country                             488
market_segment                        0
distribution_channel                  0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
agent                             16340
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
reservation_status                    0
reservation_status_date               0
name                                  0
email                                 0
phone-number                          0
credit_card                           0
dtype: int64

In [26]:
df=df.drop('company',axis=1)

In [56]:
df.groupby('country').count().sort_values('hotel',ascending=False)['hotel'][:5]

country
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: hotel, dtype: int64

In [65]:
df['country'].value_counts()[:5]

country
PRT    48590
GBR    12129
FRA    10415
ESP     8568
DEU     7287
Name: count, dtype: int64

In [68]:
df.sort_values('adr',ascending=False)[['adr','name']].iloc[0]

adr            5400.0
name    Daniel Walter
Name: 48515, dtype: object

In [85]:
df['adr'].idxmax()

48515

In [88]:
df.iloc[48515]

hotel                                             City Hotel
is_canceled                                                1
lead_time                                                 35
arrival_date_year                                       2016
arrival_date_month                                     March
arrival_date_week_number                                  13
arrival_date_day_of_month                                 25
stays_in_weekend_nights                                    0
stays_in_week_nights                                       1
adults                                                     2
children                                                 0.0
babies                                                     0
meal                                                      BB
country                                                  PRT
market_segment                                 Offline TA/TO
distribution_channel                                   TA/TO
is_repeated_guest                                          0
previous_cancellations                                     0
previous_bookings_not_canceled                             0
reserved_room_type                                         A
assigned_room_type                                         A
booking_changes                                            1
deposit_type                                      Non Refund
agent                                                   12.0
company                                                  NaN
days_in_waiting_list                                       0
customer_type                                      Transient
adr                                                   5400.0
required_car_parking_spaces                                0
total_of_special_requests                                  0
reservation_status                                  Canceled
reservation_status_date                           2016-02-19
name                                           Daniel Walter
email                             DanielWalter27@comcast.net
phone-number                                    865-280-5832
credit_card                                 ************6075
Name: 48515, dtype: object

In [95]:
round(df['adr'].mean(numeric_only=True),2)

np.float64(101.83)

In [99]:
for col in df.columns:
      print(col)

hotel
is_canceled
lead_time
arrival_date_year
arrival_date_month
arrival_date_week_number
arrival_date_day_of_month
stays_in_weekend_nights
stays_in_week_nights
adults
children
babies
meal
country
market_segment
distribution_channel
is_repeated_guest
previous_cancellations
previous_bookings_not_canceled
reserved_room_type
assigned_room_type
booking_changes
deposit_type
agent
company
days_in_waiting_list
customer_type
adr
required_car_parking_spaces
total_of_special_requests
reservation_status
reservation_status_date
name
email
phone-number
credit_card

In [102]:
df['stays_in_week_nights'].mean()

np.float64(2.500301532791691)

In [104]:
df['stays_in_weekend_nights'].mean()

np.float64(0.9275986263506156)

In [107]:
df['number_of_night_stayed']=df['stays_in_week_nights'].mean()+df['stays_in_weekend_nights'].mean()

In [113]:
round(df['number_of_night_stayed'].iloc[0],2)

np.float64(3.43)

In [114]:
df['number_of_night_stayed']=df['stays_in_week_nights']+df['stays_in_weekend_nights']

In [118]:
round(df['number_of_night_stayed'].mean(),2)

np.float64(3.43)

In [119]:
df['total_spend']=df['adr']*df['number_of_night_stayed']

In [120]:
df['total_spend'].mean()

np.float64(357.84820780634897)

In [147]:
df[df['total_of_special_requests']==5][['name','email']]

                          name                          email
7860             Amanda Harper           Amanda.H66@yahoo.com
11125            Laura Sanders      Sanders_Laura@hotmail.com
14596              Tommy Ortiz            Tommy_O@hotmail.com
14921           Gilbert Miller         Miller.Gilbert@aol.com
14922           Timothy Torres         TTorres@protonmail.com
24630          Jennifer Weaver             Jennifer_W@aol.com
27288           Crystal Horton             Crystal.H@mail.com
27477           Brittney Burke       Burke_Brittney16@att.com
29906          Cynthia Cabrera    Cabrera.Cynthia@xfinity.com
29949              Sarah Floyd              Sarah_F@gmail.com
32267           Michelle Villa         Michelle.Villa@aol.com
39027           Nichole Hebert       Hebert.Nichole@gmail.com
39129         Lindsey Mckenzie       Lindsey.Mckenzie@att.com
39525           Ashley Edwards       Edwards.Ashley@yahoo.com
70114       Christopher Torres   Torres.Christopher@gmail.com
78819   Mrs. Tara Sullivan DVM           Mrs..DVM@xfinity.com
78820           Michaela Brown          MichaelaBrown@att.com
78822        Kurt Maldonado MD              KMD15@xfinity.com
97072         Jason Richardson               Jason.R@zoho.com
97099             Terri Hurley            THurley@xfinity.com
97261        Mrs. Caitlin Webb             Mrs._W@comcast.net
98410             Holly Arroyo          Arroyo_Holly@mail.com
98674          Denise Campbell             Denise_C@gmail.com
99887            Michael Smith            Michael.S42@aol.com
99888       Dr. Trevor Sellers                  Dr._S@aol.com
101569            Kayla Murphy         Kayla.Murphy@yahoo.com
102061         Taylor Martinez    Taylor.Martinez@hotmail.com
109511          Charles Wilson       Charles_Wilson@yahoo.com
109590           Tyler Allison         Tyler.A@protonmail.com
110082          Matthew Bailey         Matthew_Bailey@aol.com
110083       Charlotte Acevedo        Charlotte_A@verizon.com
111909         Darrell Brennan  Brennan_Darrell51@hotmail.com
111911          Melinda Jensen         MelindaJensen@zoho.com
113915            Terry Arnold          Arnold.Terry@zoho.com
114770             Mary Nguyen     Nguyen.Mary@protonmail.com
114909          Lindsay Cuevas      Lindsay.Cuevas40@mail.com
116455       Cynthia Hernandez   CynthiaHernandez@xfinity.com
116457          Angela Hawkins             Angela_H@gmail.com
118817              Sue Lawson            Sue.L52@comcast.net
119161         Alyssa Richards        Alyssa_Richards@aol.com

In [153]:
sum(df['is_repeated_guest']==1)

3810

In [155]:
sum(df['is_repeated_guest']==1)/len(df)

0.03191222045397437

In [157]:
sum(df['is_repeated_guest']==1)/len(df)*100

3.191222045397437

In [170]:
df['name'].apply(lambda name:name.split())

0               [Ernest, Barnes]
1                [Andrea, Baker]
2              [Rebecca, Parker]
3                [Laura, Murray]
4                 [Linda, Hines]
                   ...
119385        [Claudia, Johnson]
119386         [Wesley, Aguilar]
119387           [Mary, Morales]
119388    [Caroline, Conley, MD]
119389         [Ariana, Michael]
Name: name, Length: 119390, dtype: object

In [172]:
df['name'].apply(lambda name:name.split()[1])

0          Barnes
1           Baker
2          Parker
3          Murray
4           Hines
           ...
119385    Johnson
119386    Aguilar
119387    Morales
119388     Conley
119389    Michael
Name: name, Length: 119390, dtype: object

In [182]:
def last(name):
    name=name.split()[1]
    return name
name='faisal ibrahim'
last(name)

'ibrahim'

In [184]:
df['name'].apply(last)

0          Barnes
1           Baker
2          Parker
3          Murray
4           Hines
           ...
119385    Johnson
119386    Aguilar
119387    Morales
119388     Conley
119389    Michael
Name: name, Length: 119390, dtype: object

In [197]:
df['total_kids']=df['children']+df['babies']
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,number_of_night_stayed,total_spend,total_kids
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322,0,0.00,0.0
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157,0,0.00,0.0
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734,1,75.00,0.0
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677,1,75.00,0.0
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498,2,196.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647,7,672.98,0.0
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333,7,1578.01,0.0
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821,7,1103.97,0.0
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860,7,730.80,0.0
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482,9,1360.80,0.0

In [203]:
df.sort_values('total_kids',ascending=False)['name']

328         Jamie Ramirez
46619     Nicholas Parker
78656       Marc Robinson
6681       Nicolas Thomas
16360         Ashley Cole
               ...
119389     Ariana Michael
40600        Craig Campos
40667        David Murphy
40679        Frank Burton
41160       Jerry Roberts
Name: name, Length: 119390, dtype: object

In [213]:
def area(code):
    code =int(str(code)[:3])
    return code
code = 345678
area(code)

345

In [230]:
df['area_code']=df['phone-number'].apply(area)
df

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,reservation_status,reservation_status_date,name,email,phone-number,credit_card,number_of_night_stayed,total_spend,total_kids,area_code
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322,0,0.00,0.0,669
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157,0,0.00,0.0,858
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734,1,75.00,0.0,652
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677,1,75.00,0.0,364
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498,2,196.00,0.0,713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647,7,672.98,0.0,403
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333,7,1578.01,0.0,238
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821,7,1103.97,0.0,395
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860,7,730.80,0.0,531
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482,9,1360.80,0.0,422

In [226]:
df['area_code'].value_counts()

area_code
799    168
185    167
541    166
137    163
763    163
      ...
896    106
973    105
577    105
818    102
970     97
Name: count, Length: 900, dtype: int64

In [232]:
df['phone-number'].apply(lambda num: num[:3]).value_counts()

phone-number
799    168
185    167
541    166
137    163
763    163
      ...
896    106
973    105
577    105
818    102
970     97
Name: count, Length: 900, dtype: int64

In [239]:
df['arrival_date_day_of_month'].apply(lambda day:day in range(1,16)).sum()

np.int64(58152)